<li class="list-group-item" style="background-color: #437aaa; color: whitesmoke;">
    <span s_id="{{sender_id}}" class="frText">John Doe</span>
    <a href="#" class="badge badge-success acceptButton" style="background-color: #23af6e;" fr_id="{{id}}" s_id="{{sender_id}}" r_id="{{receiver_id}}">Accept</a> 
    <a href="#" class="badge badge-success rejectButton" style="background-color: red;" fr_id="{{id}}">Reject</a>

    <a href="#" class="badge badge-success profileButton" style="background-color: #0dcaf0;" f_id="{{sender_id}}" >Profile</a>

</li>