<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
                                <div style="display: flex; justify-content: left; align-items: center;">
                                    <div>
                                        <img src="{{pict}}" style="width: 250px;">
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <h3>{{name}}</h3>
                                        <h4>{{type}}</h4>
                                        <h4>Age: {{age}}</h4>
                                        <h4>Personality: {{personality}}</h4>
                                    </div>
                                </div>
                            </div>