<div class="container">    
            <div class="row">
                <div class="col-md-4 mt-1">
                    <div class="card text-center sidebar">
                        <div class="card-body">
                            <img src="/img/doge.jpeg" class="rounded-circle" width="150" alt="Profile Pic">
                            <div class="mt-3">
                                <h3>{{name}}</h3>
                                <a href="">Edit Profile</a>
                                <a href="" id="logOutLink">Log Out</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-1">
                    <div class="card mb-3 content">
                        <div class="card-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        {{email}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Zip Code</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        {{zip}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Age</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        {{age}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Bio</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        {{bio}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="card mb-3 content">
                            <h1 class="m-3">Pet Profile</h1>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Pet Bio</h5>
                                        <div class="col-md-9 text-secondary">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                            Commodi officiis provident quibusdam fuga rem magni 
                                            exercitationem vitae similique corrupti nostrum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}

                        <div style="margin-bottom: 30px;">
                            <h1>Pets</h1>
                            {{#each pets as |pet|}}
                            {{> petInfo}}
                            {{/each}}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/profilePage.js"></script>