<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">



    <!-- #################################### Start Search Section ############################## -->
    <div class="container">
        <h1>User Search</h1>
        <div id="search-wrapper">
            <form>
                <input type="text" name="searchBar" id="searchBar" placeholder="Search for a User" />
                <button id="searchBtn" type="submit">Search</button>
            </form>
        </div>
        <ul id="userList"></ul>
    </div>




    <!-- #################################### Start Search Section ############################## -->


                        <div style="margin-bottom: 30px;">
                            
                            {{#each users as |user|}}
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-10 mt-5 pt-5">
                                        <div class="row z-depth-3">
                                            <div class="col-sm-4 bg-info rounded-left">
                                                <div class="card-block text-center text-white">
                                                
                                                    <img src="{{user.pict}}"class="rounded-circle" alt="userPic">
                                                    <h2 class="font-weight-bold mt-4">{{user.name}}</h2>
                                                    <a href="#" class="badge badge-info prof_button" u_id="{{user.id}}">Profile</a>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-8 bg-white rounded-right">
                                                
                                        
                                                {{!-- <h4 class="mt-3">Pets</h4> --}}
                                                
                                                {{#each pets as |pet|}}
                                                <hr class="bg-primary text-center">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="font-weight-bold mt-4" style="font-size:160%">Pet Info</p>
                                                        <h5 class="text-muted">Name: {{pet.name}}</h6>
                                                        <h5 class="text-muted">Age: {{pet.age}}</h6>
                                                        <h5 class="text-muted">Species: {{pet.type}}</h6>
                                                        <h5 class="text-muted">Personality: {{pet.personality}}</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="font-weight-bold mt-4" style="font-size 160%">Pet Pics</p>
                                                        <img src="{{pet.pict}}" class="rounded-circle" width="100px">
                                                    </div>
                                                </div>
                                                {{/each}}
                                                
                                                
                                                

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
 

    


<script src="/js/search.js"></script>
<script>
    var profButtons = document.querySelectorAll('.prof_button');
    profButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            location.replace(`/userProfile/${event.target.getAttribute('u_id')}`);
        });
    })
</script>

